<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/2-part-layout.html}">

<head>
    <script type="text/javascript" th:src="@{/js/Principle.js}"></script>
</head>
<body>
    <section class="row" layout:fragment="content">
        <h4>Setting</h4>
        <div class="container">
            <nav style="width: 80%">
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-general-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-general" type="button" role="tab" aria-controls="nav-general"
                            aria-selected="true">
                        General
                    </button>

                    <button class="nav-link" id="nav-password-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-password" type="button" role="tab" aria-controls="nav-password"
                            aria-selected="false">
                        Password
                    </button>

                    <button class="nav-link" id="nav-principle-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-principle" type="button" role="tab" aria-controls="nav-principle"
                            aria-selected="false">
                        Principle
                    </button>

                    <button class="nav-link" id="nav-medicine-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-medicine" type="button" role="tab" aria-controls="nav-medicine"
                            aria-selected="false">
                        Medicine
                    </button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">

                <div class="tab-pane fade show active p-3" id="nav-general" role="tabpanel"
                     aria-labelledby="nav-general-tab" style="width: 80%">
                    <form th:action="@{/principle/update-infomation}" method="post" th:object="${user}">
                        <div class="general-setting-container">
                            <h3 class="mb-4 bold" style="font-size: 14px; color: var(--nomal-text)">Update your avatar and personal information here</h3>
<!--                            họ tên người dùng-->
                            <div class="border border-top-1 border-bottom-1 p-3 d-flex justify-content-between align-items-center general-setting-name">
                                <label for="name-setting" style="font-size: 15px">Name</label>
                                <input th:field="*{hoTen}" type="text" id="name-setting" style="width: 800px; height: 25px; font-size: 15px" class="form-control">
                            </div>

                            <div class="border border-top-1 border-bottom-1 p-3 d-flex justify-content-between align-items-center general-setting-name">
                                <label for="email-setting" style="font-size: 15px">Email</label>
                                <input th:field="*{email}" type="email" id="email-setting" name="email" style="width: 800px; height: 25px; font-size: 15px" class="form-control">
                            </div>

                            <div class="border border-top-1 border-bottom-1 p-3 d-flex justify-content-between align-items-center general-setting-name">
                                <label for="photo-setting" style="font-size: 15px">your photo</label>
                                    <input type="image" id="photo-setting" name="anh" style="width: 800px; height: 100px; font-size: 15px" class="form-control">
                            </div>

                            <div class="border border-top-1 border-bottom-1 p-3 d-flex justify-content-between align-items-center general-setting-name">
                                <label for="gender-setting" style="font-size: 15px">Gender</label>
                                <select name="gioiTinh" class="form-select form-select-md pt-1" aria-label="Medium select example" id="gender-setting" style="width: 800px; height: 30px; font-size: 15px">
                                    <option selected value="Nam">Male</option>
                                    <option value="Nữ">Female</option>
                                </select>
                            </div>

                            <div class="border border-top-1 border-bottom-1 p-3 d-flex justify-content-between align-items-center general-setting-name">
                                <label for="country-setting" style="font-size: 15px">Country</label>
                                <select name="queQuan" class="form-select form-select-md pt-1" aria-label="Medium select example" id="country-setting" style="width: 800px; height: 30px; font-size: 15px">
                                    <option selected value="Vietnam">Vietnam</option>
                                    <option value="America">America</option>
                                    <option value="Frace">Frace</option>
                                    <option value="England">England</option>
                                    <option value="Finland">Finland</option>
                                    <option value="Italy">Italy</option>
                                    <option value="Canada">Canada</option>
                                    <option value="Australia">Australia</option>
                                </select>
                            </div>

                            <div class="border border-top-1 border-bottom-1 p-3 d-flex justify-content-between align-items-center general-setting-name">
                                <label for="bio-setting" style="font-size: 15px">Bio</label>
                                <textarea type="text" id="bio-setting" name="mieuTa" style="width: 800px; height: 150px; font-size: 15px" class="form-control"></textarea>
                            </div>

                            <div class="border border-top-1 border-bottom-1 p-3 d-flex justify-content-between align-items-center general-setting-name">
                                <label for="birth-setting" style="font-size: 15px">Date Born</label>
                                <input type="date" id="birth-setting" name="ngaySinh" style="width: 800px; height: 25px; font-size: 15px" class="form-control">
                            </div>

                            <div class="border border-top-1 border-bottom-1 p-3 d-flex justify-content-between align-items-center general-setting-name">
                                <label for="phone-setting" style="font-size: 15px">Phone number</label>
                                <input type="tel" id="phone-setting" name="soDienThoai" style="width: 800px; height: 25px; font-size: 15px" class="form-control">
                            </div>

                            <button type="submit" style="width: 800px" class="mt-3 btn btn-primary">update profile</button>
                        </div>
                    </form>
                </div>
                
                <div class="tab-pane fade p-3" id="nav-password" role="tabpanel"
                     aria-labelledby="nav-password-tab" style="width: 80%">
                    <form class="d-flex flex-column align-items-center" th:action="@{/principle/change-password}" method="post" >
                        <div class="mb-5" style="width: 100%">
                            <label class="mb-2" for="password">Current password</label>
                            <input type="password" class="form-control" id="password" name="password" required >
                        </div>

                        <div class="mb-5" style="width: 100%">
                            <label class="mb-2" for="newPassword">New password</label>
                            <input type="password" class="form-control" id="newPassword" name="newPassword" required >
                        </div>

                        <div class="mb-5" style="width: 100%">
                            <label class="mb-2" for="repeatNewPassword">Retype password</label>
                            <input type="password" class="form-control" id="repeatNewPassword" name="repeatNewPassword" required >
                        </div>


                        <div role="alert" th:if="${session.error}">
                            <p th:text="${session.error}"></p>
                        </div>

                        <button type="submit" style="width: 400px" class="mt-3 btn btn-primary">Change password</button>
                    </form>
                </div>

                <div class="tab-pane fade p-3" id="nav-principle" role="tabpanel"
                     aria-labelledby="nav-principle-tab" style="width: 80%">
                    <div class="d-flex flex-column justify-content-around align-items-center">
                        <form th:action="@{principle/change-principle}" th:object="${principle}" method="post" style="width: 100%">
                            <div class="d-flex align-items-center mb-5 justify-content-between">
                                <label for="maxPatient">Số bệnh nhân tối đa</label>
                                <input th:field="*{soBenhNhanToiDa}" id="maxPatient" class="form-control" type="number" style="width: 150px"; required>
                            </div>

                            <div class="d-flex align-items-center mb-5 justify-content-between">
                                <label for="money">Tiền viện phí cho mỗi người</label>
                                <input th:field="*{tienKham}" id="money" class="form-control" type="number" style="width: 200px"; required>
                            </div>

                            <button type="submit" style="width: 400px" class="mt-3 btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>

                <div class="tab-pane fade p-3" id="nav-medicine" role="tabpanel"
                     aria-labelledby="nav-medicine-tab" style="width: 100%">
                    <div class="col-md-7">
                        <div class="d-flex">
                            <h3>Medicine</h3>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addMedicineLabel">
                                Add new medicine
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="addMedicineLabel" tabindex="-1" aria-labelledby="addMedicineLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content" style="width: 700px">
                                        <form th:action="@{/principle/medicine/add}"
                                              method="post"
                                                class="modal-body row">
                                            <div class="col-md-2 d-flex flex-column">
                                                <h4>New medicine</h4>
                                                this is thumbnail
                                                <button type="button" class="btn btn-primary">Thumbnails</button>
                                            </div>

                                            <div class="col-md-10 d-flex flex-column">
                                                <input type="text" name="tenThuoc" style="width: 500px; height: 25px; font-size: 15px" class="form-control mb-3">

                                                <div class="d-flex">
                                                    <div class="mb-3">
                                                        <label for="medicineCost">Select price</label>
                                                        <input id="medicineCost" type="number" name="donGia" style="width: 240px; height: 25px; font-size: 15px" class="form-control">
                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="medicinePrice">Select price</label>
                                                        <input id="medicinePrice" type="number" style="width: 240px; height: 25px; font-size: 15px" class="form-control">
                                                    </div>
                                                </div>

                                                <div class="mb-3 d-flex">
                                                    <label for="typeMedicine">Type:</label>
                                                    <select class="form-select form-select-md pt-1" aria-label="Medium select example" id="typeMedicine" style="width: 200px; height: 30px; font-size: 15px">

                                                    </select>

                                                    <input type="text" class="form-control" aria-label="Medium select example" style="width: 200px; height: 30px; font-size: 15px">
                                                </div>

                                                <input type="text" class="form-control" aria-label="Medium select example" style="width: 500px; height: 30px; font-size: 15px">

                                                <div class="d-flex mb-3">
                                                    <label for="maDonVi">Unit</label>
                                                    <select name="unitId" class="form-select form-select-md pt-1" aria-label="Medium select example" id="maDonVi" style="width: 200px; height: 30px; font-size: 15px">
                                                        <option value="">Chọn loại thuốc</option>
                                                        <option th:each="unit : ${unitList}" th:value="${unit.donViId}" th:text="${unit.tenDonVi}"></option>
                                                    </select>

                                                    <input type="number" name="soLuong" class="form-control" aria-label="Medium select example" style="width: 200px; height: 30px; font-size: 15px">
                                                </div>
                                            </div>
                                            <div>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Insert medicine</button>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <table class="table table-group-divider table-hover table-light">
                            <thead>
                            <th scope="col">Name</th>
                            <th scope="col">Remaining</th>
                            <th scope="col">Sold</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                            </thead>

                            <tbody>
                                <tr class="table-light" th:each="medicine : ${medicineList}" data-medicine-id="${medicine.thuocId}">
                                    <td class="table-light" th:text="${medicine.tenThuoc}"></td>
                                    <td class="table-light" th:text="${medicine.soLuong}"></td>
                                    <td class="table-light">Unkhrow</td>
                                    <td class="table-light" th:text="${medicine.unit.tenDonVi}"></td>
                                    <td class="table-light" th:text="${medicine.donGia}"></td>

                                    <td class="d-flex">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addAmountLabel">
                                            Add
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="addAmountLabel" tabindex="-1" aria-labelledby="addAmountLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content" style="width: 700px">
                                                </div>
                                            </div>
                                        </div>

                                        <form class="btn btn-danger" method="post" th:action="@{'/principle/medicine/delete/'+${medicine.thuocId}}">
                                            <button style="background: transparent; color: #fff" type="submit">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-3" id="medicineDetailsInfo">
                        <form id="editForm">
                            <input type="hidden" name="thuocId" id="thuocId">
                            <div class="form-group">
                                <label for="tenThuoc">Medicine Name</label>
                                <input type="text" name="tenThuoc" id="tenThuoc" style="width: 100%; height: 25px; font-size: 15px" class="form-control mb-3">

                                <label for="donGia">Medicine Price</label>
                                <input type="number" name="donGia" id="donGia" style="width: 100%; height: 25px; font-size: 15px" class="form-control mb-3">

                                <label for="donGiaUpdate">Vui</label>
                                <input type="number" name="donGia" id="donGiaUpdate" style="width: 100%; height: 25px; font-size: 15px" class="form-control mb-3">

                                <label for="medicineScrip">Description</label>
                                <textarea name="mieuTaThuoc" id="medicineScrip" style="width: 100%; height: 60px; font-size: 15px" class="form-control mb-3"></textarea>

                                <button type="submit" class="btn btn-primary" style="width: 100%;">Edit Medicine</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>